.contact-cards-container {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: 100px;
}

.contact-cards.block {
    width: 100%;
    padding-bottom: 80px;

    > div:first-child {
        display: flex;
        flex-direction: column;

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media (width >= 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 32px;
            width: 100%;
            margin: 0 auto;
        }

        > div:nth-child(odd) {
            @media (width >= 768px) {
                align-items: flex-end;
            }
        }

        > div:nth-child(event) {
            @media (width >= 768px) {
                align-items: flex-start;
            }
        }
    }
}

.contact-card {
    padding-top: 60px;
    width: 284px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        font-family: "Open Sans", sans-serif;

        @media (width >= 768px) {
            font-size: 18px;
            font-weight: 600;
            line-height: 28px;
        }
    }

    p {
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        font-family: "Open Sans", sans-serif;
        color: rgb(48 48 48);

        @media (width >= 768px) {
            font-size: 14px;
            font-weight: 600;
            line-height: 28px;
        }

        @media (width >= 1279px) {
            font-size: 16px;
            font-weight: 600;
            line-height: 28px;
        }
    }

    .button-container {
        background-color: transparent;
        color: rgb(0 82 115);
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        height: max-content;

        a {
            background-color: transparent;
            color: rgb(0 82 115);
            font-size: 14px;
            font-weight: 400;
            padding: 0;
            border-width: 0;
            margin: 0;
            font-family: "Open Sans", sans-serif;

            @media (width >= 768px) {
                font-size: 16px;
                line-height: 28px;
            }
        }
    }

    @media (width >= 768px) {
        padding-top: 80px;
    }
}
